.jumbotron {
  padding-top: 2rem;
  background-color: #ccd8ff;
}

#projects {
  background-color: #ccd8ff;
}

.p {
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 428px) {
  .brand {
    display: none;
  }
}